@font-face {
    font-family: "opensans";
    src: url(assets/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'source-sans-pro';
    src: url(assets/source-sans-pro/SourceSansPro-Regular.ttf)
}
.navbar-background{
    background-color: white !important ;

}
.container{ 
    background-color: white;

    
}
.navbar-address{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center  ;
}
.navbar-text{
    gap: 4px;
}
.navbar-search-icon{
    position: absolute;
    padding-top: 7px;
    padding-left: 10px;
    color: #FFB30E;

}
.form-control{
    padding-left: 2rem;
    vertical-align: middle;
    border: none;
    background-color: white;
}
    .form-control::placeholder{
        font-family: 'opensans';
        font-weight: 700px;
        font-size: 15px;
        line-height: 18px;
        color: #424242;
    }

.navbar-address-text1{
        font-size:'source-sans-pro';
        font-weight: 900px;
        color: #424242;
    }
.navbar-address-text2{
    font-family: "source-sans-pro";
    color: black;
}
.navbar-address-text3{
    font-family: 'opensans';
color: #424242;
}
.navbar-color{
    background-color: #ffff;
}
.nav-bar-button{
    padding-top: 7px;
    padding-right:  30px;
    padding-bottom:  7px;
    padding-left: 30px;
    color: #FFB30E;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px 0px #FFAE004A;
    box-shadow: 0px 5px 10px 0p #FFAE0042;

}
/* Hero-section */

.header{
      /* width: 1332px;  */
     width: 1335px;  
     height: 661px;  
    background-color: #FFB30E !important;
    

}
.hero-section-text-1{
    font-family: 'opensans';
     font-size: 60px;
    color: white;
}
.hero-section-text-2{
    font-family: 'source-sans-pro';
    font-size: 22px;
}
.header-image-2 img{
    /* height: 505px;
    width: 604px;
    position: absolute; */
    position: relative;
  height: 500px;
}
.bowl{
    position: absolute;
  bottom: 0px;
}

    .header-row-1{
    
    align-items: center;
    margin-top: 190px;
    margin-left: 50px;
    }

    /* nav-tab */
    .nav-tab{
        background-color: white;
    height: 194.44px;
    width:656px;
    border-radius: 10px;
    padding: 10px;
    }
    
    .nav-tab-search{
        padding-left: 2rem;
        vertical-align: middle;
        border: none;
        background-color:#F5F5F5;
        position: absolute;
        padding-top:15px;
        padding-right:150px;
        padding-bottom:10px;
        padding-top:7px;
        margin-top: 80px;
        border-radius: 8px;
        margin-left: 10px;
    }
    .nav-tab-icon{
    position:absolute;
    padding-top: 50px;
    padding-left: 10;
    color: #FFB30E;
      
        /* margin-top: 80px;
        margin-left: 20px;
        position: absolute; */
    } 
    .nav-tab-delivery-button{
        background-color: rgba(241, 114, 40, 0.1) !important;
        color: rgba(241, 114, 40, 1) !important;
        font-family: 'opensans';  
    }  
    
    .hello {
        position: absolute;
      }
      
      .img0 {
        position: relative;
        height: 500px;
      }
      
      .hello1 {
        position: absolute;
        bottom: 0px;
      }
      
      .deal {
        position: absolute;
        bottom: 0;
      }
      
      .flex-center {
        justify-content: space-between;
        align-items: center;
        line-height: 5px;
      }
      .badge {
        background-color: orange;
      }
      
      .cards {
        justify-content: center;
      }
      
      .card-border {
        border: none;
      }
      
      .btn-danger {
        background-color: #fdbc30 !important;
        border: none !important;
        &:hover {
          background-color: white !important;
          color: #fdbc30 !important ;
        }
      }
      
      .bgc {
        background-color: orange;
      }
      
      .nav0 {
        justify-content: space-between;
        align-items: center;
      }
      
      .bg-holder {
        background-image: url(./Assets/assets/images/cta-one-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      .hr-vertical {
        border-left: 2px solid #cfcfcf;
      }



      .rect {
  background-color: white;
  height: 30%;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
}

.colo1 {
  height: 500px;
  align-items: center;
}

.content {
  position: relative;
}
.pin {
  position: absolute;
  margin: 10px;
  color: #f17228;
}

.btn0 {
  color: white;
  background: orange;
}

.btn0:hover {
  background-color: white;
  color: orange;
}
